
#map { height: 580px; }

svg {
  position: relative;
}

path {
  /* fill: #FA6900; */
  /* fill-opacity: .5; */
  /* fill-opacity: .2; */
  stroke: #fff;
  stroke-width: 1.5px;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}

