
body, input, textarea {
  font-family: Georgia, "Times New Roman", Serif;
}

#main p {
  font-size: 30px;
  line-height: 50px;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

