#wheel, #shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(0,0,0);
}

.welcome #wheel, .welcome #shadow, .welcome #start {
  right: 0;
  left: auto;
}

#wheel svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#vis {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
