
.sidetable {
  margin-top: 80px;
  margin-bottom: 400px;

  th {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
    padding-top:0;
  }

  th > div {
    transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45   */
    rotate(315deg);
    width: 10px;
  }
  th > div > span {
    border-bottom: 1px solid #ccc;
    padding: 0px 0px;
  }
}
