{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    # "comma-dangle": ["error", "never"],
    # "max-len": [1, 120, { "ignoreComments": true, "ignoreTrailingComments": true, "ignoreUrls": true }],
    # "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/__tests__/*", "**/*.test.js", "**/*.spec.js"]}],
    # "no-param-reassign": 0,
    # "no-shadow": 0,
    # "import/prefer-default-export": 0,
  },
  "plugins": [

  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}
