body {
  padding-top: 30px;
}

#vis {
  background: #eee;
  /* width: 770px; */
  /* height: 500px; */
}
 
#municipios path {
  stroke: #fff;
  stroke-width: .25px;
}
 
#estados path {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

#municipios .missing_data {
  fill: red;
}

footer {
  height: 30px;
  padding-top: 10px;
}

.detail-parties {
  color: #444;
}

.deactive p, .deactive h3 {
  color: #ccc;
}

.candidato h3 {
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 10px;
}

#details h2 {
  line-height: 25px;
  margin-bottom: 10px;
}

