body {
  font-family: 'Josefin Sans', sans-serif;
  background: #ffffff url('../img/white_plaster.png');
}

header {
}

#main-container {
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  /* background-color: #ffffff; */
  background-color: #F7FAFF;
  /* background-color: #F2BE5C; */
  border: 15px solid #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

h1, h2 {
  font-family: 'Josefin Slab', serif;
  /* font-family: 'Arvo', serif; */
  /* font-family: 'Droid Serif', Georgia, 'Times New Roman', serif; */
  font-weight: 700;
  text-align: center;

  margin-bottom: 10px;
  font-size: 2.75em;
	letter-spacing: .2em;
  line-height: 1.1em;
  text-transform: uppercase;
  /* color: #1E1A11; */
  color: #222;
  /* text-shadow: 0px 2px 3px #555; */
}

h3 {
  line-height: 1;
}

#title-love, #sub-title-love {
  color: #DB3039;
}

#title-money {
  /* color: #36604D; */
  color: #337147;
}

#sub-title-hate {
  color: #4F95C4;
}

#vis-svg {
  margin-top: 10px;
  /* background: #ffffff url('../img/groovepaper.png'); */
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /* border: 2px solid #ddd; */
}

div.control-links {
  margin: auto;
  text-align: center;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

div.control-links a {
color: black;
font-size: 12px;
padding: 2px;
/* background: #E2E2E2; */
cursor: pointer;
/* margin-right: 3px; */
font-family: Arial, sans-serif;
}

div.control-links a.active {
  color: #FF9C5E;
}

div.control-links a.active:hover {
  color: #FF9C5E;
  text-decoration:none;
}

.control h3 {
  text-align: center;
  margin:0;
  padding:0;
  font-weight: normal;
  font-size: 1.1em;
  color: #444;
}

.axisTitle {
  font-size: 1.2em;
}

#details {
  padding-left: 15px;
}

.movie-detail {
  padding-bottom: 5px;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.x_axis, .y_axis {
  shape-rendering: crispEdges;
}

.x_axis line, .x_axis path {
  fill: none;
  stroke: #000;
}

.y_axis line, .y_axis path {
  fill: none;
  stroke: #000;
}



