body {
  font-family: 'Josefin Sans', sans-serif;
  background: #000000 url('../img/bg/dark_wood.png');
}

header {
}

#top-nav {
  float:right;
}

#top-nav ul { 
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#top-nav li {
  float:left;
}

#top-nav a {
  display: block;
  height: 15px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}

#main-container {
  position:relative;
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  /* background: #ffffff url('../img/bg/white_plaster.png'); */
  /* background-color: #ffffff; */
  /* background-color: #F7FAFF; */
  /* background: -webkit-radial-gradient(circle, #F98727, #ffffff); */
  /* background-color: #F2BE5C; */
  background-color: #F4E7D3;
  border: 15px solid #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

h1, h2 {
  font-family: 'Josefin Slab', serif;
  /* font-family: 'Arvo', serif; */
  /* font-family: 'Droid Serif', Georgia, 'Times New Roman', serif; */
  font-weight: 700;
  text-align: center;

  margin-bottom: 10px;
  font-size: 2.75em;
	letter-spacing: .2em;
  line-height: 1.1em;
  text-transform: uppercase;
  /* color: #1E1A11; */
  color: #222;
  /* text-shadow: 0px 2px 3px #555; */
}

h3 {
  line-height: 1;
}

#title-love, #sub-title-love {
  color: #DB3039;
}

#title-money {
  /* color: #36604D; */
  color: #337147;
}

#sub-title-hate {
  color: #4F95C4;
}

#vis {
}

#vis-svg {
  margin-top: 10px;
  background: #ffffff url('../img/bg/groovepaper.png');
  /* background: #ffffff; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  position: relative;
  /* border: 2px solid #ddd; */
}

div.control-links {
  margin: auto;
  text-align: center;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

div.control-links a {
color: black;
font-size: 12px;
padding: 2px;
/* background: #E2E2E2; */
cursor: pointer;
/* margin-right: 3px; */
font-family: Arial, sans-serif;
}

div.control-links a.active {
  color: #FF9C5E;
}

div.control-links a.active:hover {
  color: #FF9C5E;
  text-decoration:none;
}

.control h3 {
  text-align: center;
  margin:0;
  padding:0;
  font-weight: normal;
  font-size: 1.1em;
  color: #444;
}

.axisTitle {
  font-size: 1.2em;
}

#details {
  padding-left: 15px;
}

.movie-detail {
  padding-bottom: 5px;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.x_axis, .y_axis {
  shape-rendering: crispEdges;
}

.x_axis line, .x_axis path {
  fill: none;
  stroke: #000;
}

.y_axis line, .y_axis path {
  fill: none;
  stroke: #000;
}

#tooltip {
    position: absolute;
    /* left: 100px; */
    /* top: 300px; */
    width: 220px;
    background: url(../img/black80.png);
    z-index: 1338;
    padding: 7px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    pointer-events: none;
}
 
#tooltip.hidden {
    display: none;
}
 
#tooltip .tri {
    position: absolute;
    bottom: -9px;
    left: 100px;
    width: 17px;
    height: 9px;
    background: url(../img/blacktri80c-down.png) no-repeat;
}
 
#tooltip .title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px;
    text-align:center;
}
 
#tooltip .detail {
    font-size: 12px;
    line-height: 14px;
    color: white;
}
 
#tooltip table {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    color: white;
}
 
#tooltip th, #tooltip td {
    text-align: left;
    border-top: 1px solid #666;
    padding: 2px 0;
}
 
#tooltip table tr:first-child th {
    border-top: none;
    font-size: 12px;
    line-height: 14px;
}
 
#tooltip table td.r {
    text-align: right;
}

#box {
    position: absolute;
    background: gray;
    opacity: 0.25;
    pointer-events: none;
    display: none;
}
 
#box.hidden {
    display: none;
}

