
body, input, textarea {
  font-family: Georgia, "Times New Roman", Serif;
}

#main p {
  font-size: 30px;
  line-height: 50px;
}

.visualized line {
  stroke: pink;
}

.visualized text {
  fill: pink;
}

.eyeo line {
  stroke: green;
}

.eyeo text {
  fill: green;
}

.openvis line {
  stroke: steelblue;
}

.openvis text {
  fill: steelblue;
}
