//fonts
$font_0: Georgia;
$font_1: Times New Roman;
$font_2: Serif;

body {
  font-family: $font_0, $font_1, $font_2;
  margin: 0;
  overflow: hidden;
}

input {
  font-family: $font_0, $font_1, $font_2;
}

textarea {
  font-family: $font_0, $font_1, $font_2;
}

#canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -10;
}

#menu {
  position: fixed;
  left: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

#menu li {
  list-style-type: none;
}
